<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FearTheCowboy.Extensions.Collections" version="2.0.0-beta-10145" targetFramework="net452" />
  <package id="FearTheCowboy.Extensions.Core" version="2.0.0-beta-10145" targetFramework="net452" />
  <package id="FearTheCowboy.Extensions.Linq" version="2.0.0-beta-10145" targetFramework="net452" />
  <package id="FearTheCowboy.Iso19770" version="1.1.0-beta-10145" targetFramework="net452" />
  <package id="json-ld.net" version="1.0.4" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net452" />
  <package id="SgmlReader" version="1.8.11" targetFramework="net452" />
</packages>